In [1]:
import pandas as pd

In [2]:
df = pd.read_table("part1.in", sep="\\s+", names=['left', 'right'])
df

      left  right
0    12823  12823
1    74540  88907
2    37687  50218
3    83750  57255
4    43380  59171
..     ...    ...
995  72191  21857
996  91448  59613
997  60833  44098
998  48061  21816
999  31899  33989

[1000 rows x 2 columns]

In [3]:
#part 1
df['left_sort'] = df['left'].sort_values().values
df['right_sort'] = df['right'].sort_values().values

df['part1'] = (df['left_sort'] - df['right_sort']).abs()
df['part1'].sum()

3714264

In [4]:
#part 2
counts = df['right_sort'].value_counts().to_dict()
df['part2'] = df['left_sort'].map(lambda x: x * counts[x] if x in counts else 0)
df['part2'].sum()

18805872